<h1>로그인</h1>
<%=form_tag '/userinstas/login_process', method:"post" do%>
    email: <%=text_field_tag :email%><br>
    password: <%=text_field_tag :password%><br>
    <%=submit_tag('로그인')%>
<% end %>

<!--Form_authenticity_token-->
<!--<form action='/userinstas/login_process', method="post">-->
<!--email: <input type="email" name="email"><br>-->
<!--password: <input type="password" name="password"><br>-->
<!--<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token()%>">-->
<!--<input type="submit" value="로그인">-->