<h1>회원가입</h1>
<%=form_tag userinstas_path, method:"post" do%>
    email: <%=text_field_tag :email%><br>
    name: <%=text_field_tag :name%><br>
    password: <%=text_field_tag :password%><br>
    <%=submit_tag('회원가입')%>
<% end %>
