<h1>수정</h1>
<%=link_to 'Home', "/instas/index"%>
<br>

<%= form_tag insta_path(@image.id), method:"put" do %>
    <%= image_tag @image.image_url%><br>
    사진 주소 변경: <%= text_field_tag :image_url, @image.image_url %><br>
    내용 변경 : <%= text_field_tag :content, @image.content %><br>
    <%=submit_tag("사진 올리기")%>
<% end %>
