<h1>Insta-Homepage</h1>
<%=link_to 'Home', "/instas/index"%>

<!--<#% #if session[:id]%>-->
<!--    <a href="/question/logout">로그아웃</a></a><br>-->
<!--<#% else %>-->
<!--    <a href="/insta_users/new">회원가입</a>-->
<!--    <a href="/insta_users/edit">로그인</a></a>-->
<!--<#% end %>-->

<%=link_to '회원가입', new_userinsta_path%>
<!--<#%=link_to '로그인', edit_userinsta_path%>-->
<!--<#%=link_to '로그아웃', method: "delete"%>-->
<br>
<%=link_to '사진 올리기', new_insta_path%>


<h2>사진목록</h2>
<% @images.each do |img|%>
    content: <%=img.content%>
    <%=image_tag img.image_url%><br>
    <%=link_to '[상세보기]', insta_path(img.id)%>
    <hr>
<% end %>

<!--<h1>회원목록</h1>-->
<!--<#% @images.each do |u|%>-->
<!--    <#%=u.content%>-->
<!--    <#%=u.instauser.id%>)-->
<!--    가입시기: <#%=u.instauser.created_at%>-->
<!--    <#%=u.instauser.name%>님이 가입한 email은 -->
<!--    <#%=u.instauser.email%>입니다. <br>-->
<!--    <#%=link_to '[상세보기]', userinsta_path(u.instauser.id)%>-->
<!--    <hr>-->
<!--<#% end %>-->